In [1]:
import pandas as pd

pd.show_versions()

INSTALLED VERSIONS
------------------
commit           : 2cb96529396d93b46abab7bbc73a208e708c642e
python           : 3.8.8.final.0
python-bits      : 64
OS               : Windows
OS-release       : 10
Version          : 10.0.19041
machine          : AMD64
processor        : Intel64 Family 6 Model 158 Stepping 10, GenuineIntel
byteorder        : little
LC_ALL           : None
LANG             : None
LOCALE           : Korean_Korea.949

pandas           : 1.2.4
numpy            : 1.20.1
pytz             : 2021.1
dateutil         : 2.8.1
pip              : 21.2.4
setuptools       : 52.0.0.post20210125
Cython           : 0.29.23
pytest           : 6.2.3
hypothesis       : None
sphinx           : 4.0.1
blosc            : None
feather          : None
xlsxwriter       : 1.3.8
lxml.etree       : 4.6.3
html5lib         : 1.1
pymysql          : 1.0.2
psycopg2         : None
jinja2           : 2.11.3
IPython          : 7.22.0
pandas_datareader: None
bs4              : 4.6.0
bottleneck       : 1.3.2
fsspec           : 0.9.0
fastparquet      : None
gcsfs            : None
matplotlib       : 3.3.4
numexpr          : 2.7.3
odfpy            : None
openpyxl         : 3.0.7
pandas_gbq       : None
pyarrow          : None
pyxlsb           : None
s3fs             : None
scipy            : 1.6.2
sqlalchemy       : 1.4.7
tables           : 3.6.1
tabulate         : None
xarray           : None
xlrd             : 2.0.1
xlwt             : 1.3.0
numba            : 0.53.1

In [2]:
# warning 메시지 표시 안함
import warnings
warnings.filterwarnings(action = 'ignore')

import pandas as pd

In [3]:
nsmc_train_df = pd.read_csv('E:\\USB 드라이브\\1.파이썬빅데이터분석\\파이썬빅데이터분석예제코드\\My_Python\\13장_data\\ratings_train.txt', encoding = 'utf8', sep = '\t', engine = 'python')

nsmc_train_df.head()

         id                                           document  label
0   9976970                                아 더빙.. 진짜 짜증나네요 목소리      0
1   3819312                  흠...포스터보고 초딩영화줄....오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                      교도소 이야기구먼 ..솔직히 재미는 없다..평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화!스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [4]:
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        150000 non-null  int64
 1   document  149995 non-null  object
 2   label     150000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 3.4+ MB

In [5]:
nsmc_train_df = nsmc_train_df[nsmc_train_df['document'].notnull()]

In [6]:
nsmc_train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149995 entries, 0 to 149999
Data columns (total 3 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   id        149995 non-null  int64
 1   document  149995 non-null  object
 2   label     149995 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.6+ MB

In [7]:
nsmc_train_df['label'].value_counts()

0    75170
1    74825
Name: label, dtype: int64

In [8]:
import re

In [9]:
nsmc_train_df['document'] = nsmc_train_df['document'].apply(lambda 
                                                            x: re.sub(r'[^ㄱ-ㅣ가-힣]+'," ",x))
nsmc_train_df.head()

         id                                           document  label
0   9976970                                  아 더빙 진짜 짜증나네요 목소리      0
1   3819312                       흠 포스터보고 초딩영화줄 오버연기조차 가볍지 않구나      1
2  10265843                                  너무재밓었다그래서보는것을추천한다      0
3   9045019                         교도소 이야기구먼 솔직히 재미는 없다 평점 조정      0
4   6483659  사이몬페그의 익살스런 연기가 돋보였던 영화 스파이더맨에서 늙어보이기만 했던 커스틴 ...      1

In [10]:
nsmc_test_df = pd.read_csv('E:\\USB 드라이브\\1.파이썬빅데이터분석\\파이썬빅데이터분석예제코드\\My_Python\\13장_data\\ratings_test.txt', encoding = 'utf8', sep = '\t', engine = 'python')
nsmc_test_df.head()

        id                                           document  label
0  6270596                                                굳 ㅋ      1
1  9274899                               GDNTOPCLASSINTHECLUB      0
2  8544678             뭐야 이 평점들은.... 나쁘진 않지만 10점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임... 돈주고 보기에는....      0
4  6723715  3D만 아니었어도 별 다섯 개 줬을텐데.. 왜 3D로 나와서 제 심기를 불편하게 하죠??      0

In [11]:
nsmc_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        50000 non-null  int64
 1   document  49997 non-null  object
 2   label     50000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.1+ MB

In [12]:
# document 칼럼이 Null인 샘플 제거
nsmc_test_df = nsmc_test_df[nsmc_test_df['document'].notnull()]

In [13]:
nsmc_test_df['label'].value_counts()

1    25171
0    24826
Name: label, dtype: int64

In [14]:
nsmc_test_df['document'] = nsmc_test_df['document'].apply(lambda x:
                                                          re.sub(r'[^ㄱ-ㅣ가-힣]+'," ",x))
nsmc_test_df.head()

        id                                     document  label
0  6270596                                          굳 ㅋ      1
1  9274899                                                   0
2  8544678             뭐야 이 평점들은 나쁘진 않지만 점 짜리는 더더욱 아니잖아      0
3  6825595                   지루하지는 않은데 완전 막장임 돈주고 보기에는       0
4  6723715   만 아니었어도 별 다섯 개 줬을텐데 왜 로 나와서 제 심기를 불편하게 하죠       0

In [15]:
from konlpy.tag import Okt

okt = Okt()

In [16]:
def okt_tokenizer(text):
    tokens = okt.morphs(text)
    return tokens

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(tokenizer = okt_tokenizer, ngram_range = 
                       (1,2), min_df =3, max_df = 0.9)
tfidf.fit(nsmc_train_df['document'])
nsmc_train_tfidf = tfidf.transform(nsmc_train_df['document'])

In [18]:
from sklearn.linear_model import LogisticRegression

SA_Ir = LogisticRegression(random_state=0)

In [19]:
SA_Ir.fit(nsmc_train_tfidf, nsmc_train_df['label'])

LogisticRegression(random_state=0)

In [20]:
from sklearn.model_selection import GridSearchCV

params = {'C': [1,2,3.5,4,4.5,5]}
SA_Ir_grid_cv = GridSearchCV(SA_Ir, param_grid = params, cv = 3, 
                             scoring = 'accuracy', verbose =1)

In [21]:
SA_Ir_grid_cv.fit(nsmc_train_tfidf,nsmc_train_df['label'])

Fitting 3 folds for each of 6 candidates, totalling 18 fits

GridSearchCV(cv=3, estimator=LogisticRegression(random_state=0),
             param_grid={'C': [1, 2, 3.5, 4, 4.5, 5]}, scoring='accuracy',
             verbose=1)

In [22]:
print(SA_Ir_grid_cv.best_params_, round(SA_Ir_grid_cv.best_score_, 4))

{'C': 3.5} 0.8552

In [24]:
# 최적 매개변수의 best 모델 저장
SA_Ir_best = SA_Ir_grid_cv.best_estimator_

In [25]:
# 평가용 데이터의 피처 벡터화
nsmc_test_tfidf = tfidf.transform(nsmc_test_df['document'])

In [26]:
test_predict = SA_Ir_best.predict(nsmc_test_tfidf)

In [27]:
from sklearn.metrics import accuracy_score

print('감성 분석 정확도:', round(accuracy_score(nsmc_test_df['label'], test_predict),3))

감성 분석 정확도: 0.858

In [28]:
st = input('감성 분석할 문장 입력 >> ')

감성 분석할 문장 입력 >> 웃자 :) 오늘은 좋은 날이 될 것 같은 예감 100%!

In [30]:
#0) 입력 테스트에 대한 전처리 수행
st = re.compile(r'[ㄱ-ㅣ 가-힣]+').findall(st)
print(st)
st = [" ".join(st)]
print(st)

['웃자 ', ' 오늘은 좋은 날이 될 것 같은 예감 ', ' ']
['웃자   오늘은 좋은 날이 될 것 같은 예감   ']

In [33]:
#1) 입력 테스트의 피처 벡터화
st_tfidf = tfidf.transform(st)
#2) 최적 감성 분석 모델에 적용하여 감성 분석 평가
st_predict = SA_Ir_best.predict(st_tfidf)

In [34]:
#3) 예측값 출력하기
if(st_predict == 0):
    print(st, "->> 부정 감성")
else:
    print(st, "->> 긍정 감성")

['웃자   오늘은 좋은 날이 될 것 같은 예감   '] ->> 긍정 감성

In [48]:
import json
file_name = '코로나_naver_news.json' with open('E:\\USB 드라이브\\1.파이썬빅데이터분석\\파이썬빅데이터분석예제코드\\My_Python\\13장_data\\'+file_name, encoding='utf8') as j_f:
data = json.load(j_f)

SyntaxError: invalid syntax (<ipython-input-48-a5d26039eae8>, line 2)